build/*
*.o
certs/*
crypto/*/lib
libcrypto.pc
libcrypto.a
libssl.a
libssl.pc
openssl.pc
test/*test
Makefile
include/
crypto/
apps/
tools/
test/sha256t
test/sha512t
engines/lib
Makefile.bak
ssl/
Makefile.shared
